@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>
<a asp-action="create" class="btn btn-outline-primary mt-3">New Product</a>
<table class="table table-striped mt-10">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Price</td>
                <td>@item.Category.Name</td>
                <td>
                    <a asp-action="edit" asp-route-id="@item.Id">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a asp-action="delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure?')" class="text-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

